/* Color and fonts
font-family: 'Bitter', serif; everything else
font-family: 'Raleway', sans-serif; H1-6, list
#28536B: Dark blue ish color
#C09187: Orange brown ish color
#7EA8BE: Light blue ish color
#F6F0ED: Light gray ish color
*/

/* ------- General ------- */
body {
    background-color: #F6F0ED;
    font-size: 1.5rem;
    font-family: 'Bitter', serif;
    color: #7EA8BE;
    margin: 10px;
}
h2, h4, ul {
    color: #C09187;
    font-family: 'Raleway', sans-serif;
}
/* ------- Navigation Menu ------- */
nav {
    position: sticky;
    top: 0;
    background-color: #28536B;
    width: 100%;
    height: 150px;
}

nav div {
    display: inline-block;
    margin: 0;
}

h2 {
    font-size: 3rem;
    margin: 50px 80px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #C09187;
}
a:hover {
    color: rgb(192,145,135, 0.6);
}
nav li {
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

nav ul {
    float: right;
    padding: 0px 40px;
    margin: 60px 100px 0 0;
    list-style-type: none;
}

/*-------Content-------*/
.content_box img {
    width: 100%;
    height: 100%;
}
.left {
    width: 25%;
    height: 25%;
    float: left;
    margin: 10px;
}

.right {
    float: right;
    width: 25%;
    height: 25%;
    margin: 10px;
}
.content_box div:nth-child(3) {
    clear: both;
}

/* ------ About Us --------*/
h3 {
    text-align: center;
    color: #C09187;
    margin: 50px 0;
}
.who {
    font-size: 0.5rem;
}
.feature_box {
    display: grid;
    grid-template-rows: 40%;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    padding: 0 5%;
    text-align: center;
    color: #7EA8BE;
    margin: 10px;
}

.item img {
    width: 100%;
    height: 100%;
}

/* -------- Info section footer ---------- */
footer {
    width: 100%;
    clear: both;
}
.info_box {
    color: #C09187;
    background-color: #28536B;
    margin: 50px 0 0;
    display: grid;
    grid-template-rows: 20%;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10%;
    padding: 0 10%;
    text-align: center;
    list-style-type: none;
}
.info_box li {
    display: inline-block;
    padding: 0 30px;
}
.info_box img {
    width: 30px;
    height: 30px;
}
.info_box div {
    padding: 10px;
}

/* ----------- Contact Us -----------*/
.message {
    margin: 10rem auto;
    text-align: center;
    font-size: 1.6rem;
    color: #C09187;
}
.contact_box {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #28536B;
}

.methods {
    display: grid;
    grid-template-rows: 30% 30% 30%;
}
.methods p {
    margin: 0 0 20px;
    background-color: #28536B;
    color: #C09187;
}

.methods div {
    background-color: #7EA8BE;
    color: #F6F0ED;
}
.info_box .store {
    width: 100%;
}
.store img{
    width: 100%;
    height: 100%;
}
p, span {
    padding: 12px;
}